body{
    background-color: gray !important; 
}

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
}

.legend {
    width:inherit; 
    padding:0 2px; 
    border-bottom:none;
}
.btn-default{
    /* background-color: #0088FF !important; */
    background-color: #8d959c !important;
    color: white;
}

.btn-p{
    margin-top: 15px;
}



